project_id  = "biblio-perf-example"
region      = "asia-northeast3"
zone        = "asia-northeast3-a"
name_prefix = "biblio-perf"
image_tag   = "0000000"

db_password    = "replace-with-postgres-password"
jwt_secret_key = "replace-with-jwt-secret-key"

cloudrun_subnet_cidr = "10.20.1.0/24"
postgres_subnet_cidr = "10.20.2.0/24"
